
* {
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}
.header {
    border: 1px solid #cac;
    padding: 1px;
    background-color: #9933cc;
    color: #ffffff;
    text-align: center;
    height: 80px;
    margin: 0px;
 }
.row:after {
    content: "";
    clear: both;
    display: block;
}
li:nth-child(even){
	background-color: #f1f2f3;
	color: red;
}
li:nth-child(odd){
	background-color: #7050;
	color: green;
}
[class*="col-"] {
    float: left;
    padding: 5px;
    border: 1px solid #cfcfcf;
}
.col-1 {
	width: 25%;
	 min-height:670px;
}
.col-2 {
	width: 75%;
	 min-height:670px;
	 margin: 0px;
}
.items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 440px;
}

.change{
	height: 150px;
}
.items li {
    padding: 8px;
    margin-bottom: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.items li:hover {
    background-color: #ffffff;
}

.footer {
    border: 1px solid #ff34;
    padding: 0px;
    margin: auto;
    background-color: #3A3A3A;
    color: #120246;
    text-align: center;
    height: 80px;
    font-size: 35px;
    font-size: normal;
    font-style: italic;
}

.map{
	width: 95%;
	margin: 0px;
	padding: 0px;
	position:relative;
	width:95%;
	height:470px;
	float:center;

}

.search{
    float: right;
	margin: 0px auto;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    padding: 13px 10px 14px 10px;
    transition: width 0.4s ease-in-out;
    position: relative;
}

input[type=text]:focus {
    width: 40%;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    font-size: 16px;
    border-radius: 3px;
    position: relative;
}
